.App-header {
  /* background: url("https://raw.githubusercontent.com/sanajitjana/My-Portfolio-v1/master/public/assets/img/img1.png"); */
  padding: 0;
  margin: 0;
  height: 100vh;
}

.area {
  background: #4e54c8;
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
  width: 100%;
  height: 100vh;
}

.nav {
  width: 100%;
  position: absolute;
  top: 0;
}

.branding {
  height: fit-content;
  width: 100%;
  position: absolute;
  top: 50vh;
}

.bg-dark {
  background-color: transparent;
}

.card-icon-size {
  width: 3rem;
  height: 3rem;
  border-radius: 3px;
  margin-bottom: 0.5rem;
}

hr {
  margin-bottom: 0;
  border-top: 5px solid rgb(255, 226, 3);
}

/* .card {
  margin: 0 1rem;
} */

.skill-detail hr {
  border-top: 10px solid rgb(255, 226, 3);
}

section {
  margin-bottom: 5rem;
}

.carousel-item {
  /* position: absolute;
  bottom: 25%; */
}

.carousel-item p {
  padding: 10px;
  color: #fff;

}

.carousel-item h3 {
  color: #fff;
}

.btn-2 {
  width: 300px;
}

.footer-icon {
  font-size: 1.8rem;
  margin-right: 0.5rem;
  margin-top: 1rem;
}

.footer-links {
  height: 200px;
}

.carousel-control-prev {
  left: -17px;
}

.carousel-control-next {
  right: -17px;
}

.education-cards .col-md-3,
.service-cards .col-md-3,
.seo_mbl .col-md-3,
.blog-cards .col-md-3,
.contact-details .col-md-3,
.about-cards .col-md-2 {
  margin: 0 auto;
}

.p_height p {
  overflow: hidden;
  height: 225px !important;
}

.p_height h3 {
  overflow: hidden;
  height: 110px !important;
}

.about-card {
  margin: 0 auto;
  width: 280px;
}





/* -----------------------------Animations---------------------------- */

.about-card {
  position: relative;
  top: 100%;
  opacity: 0;
  animation: moveUp 1s;
  transition: all 0.3s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes moveUp {
  from {
    top: 300px;
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  to {
    top: 0px;
    opacity: 1;
  }
}

.intro-para {
  position: relative;
  left: 100%;
  opacity: 0;
  animation: moveLeft 1s;
  transition: all ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes moveLeft {
  from {
    left: 100%;
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  to {
    left: 0px;
    opacity: 1;
  }
}

.intro-img {
  opacity: 0;
  animation: fadeIn 1s;
  transition: all ease-in-out;
  animation-fill-mode: forwards;
}

.about-btn {
  opacity: 0;
  animation: fadeIn 2s 1;
  animation-fill-mode: forwards;
}

.btn {
  transition: all 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  25% {
    opacity: 0.25;
  }

  50% {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}

.about-card-2 {
  position: relative;
  bottom: 100%;
  opacity: 0;
  animation: moveDown 1s;
  transition: all 0.3s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes moveDown {
  from {
    bottom: 300px;
    opacity: 0;
  }

  25% {
    opacity: 0;
  }

  50% {
    opacity: 25%;
  }

  to {
    bottom: 0px;
    opacity: 100%;
  }
}

/* --------------------------Background-Animations------------------------- */

.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}